
/* STYLE VERSION DESKTOP */ 
/* wrap général */ 
@media (min-width: 1023px) {
  :root {
    --surface-color: #ACECA1;
    --curve: 40;
  }

  .swal2-popup {
    font-family: 'Open Sans' !important;
  }

  .bi-info-circle-fill:hover {
    color: black;
  }
  /* style du contact Form  */
  #testForm legend {
    padding: 10px;      
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #426a5a;
    }
    #testForm .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    }
  
    #testForm input {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    }
    #testForm input {
    width: calc(90% - 10px);
    padding: 5px;
    }
    #testForm .item input:hover{
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0  #426a5a;
    color: #006622;
    }
    #testForm .item {
    position: relative;
    margin: 10px 0;
    }
    #testForm .item span {
    color: red;
    }
    #testForm .colums {
    display:flex;
    padding-left: 30px;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
    }
    #testForm .colums div {
    width:48%;
    }
    #testForm .flax {
    display:flex;
    justify-content:space-around;
    }
    #testForm .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    .item label {
        margin-bottom: 50px;
    }

    @media (min-width: 568px) {
    .name-item, .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .name-item input, .name-item div {
    width: calc(50% - 20px);
    }
    .name-item div input {
    width:97%;}
    .name-item div label {
    display:block;
    padding-bottom:5px;
    }
    }

#wrap{
    font-family:'Open Sans', sans-serif;
      padding-bottom: 100px;
      padding-top: 20px;
      background-color: #416a5a;
  }

  #theForm {
      display: block;
      font-family:'Open Sans', sans-serif;
  }
  
  #pricingPlantes {
      font-family:'Open Sans', sans-serif;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
  } 

  .choice-row {
    display: flex;
    flex-direction: row;
}

.buttonsOffer {
    align-items: center;
}
  
  
  /* style boxes choix des offres + choix nbre plantes */ 
  .choice-boxes, .choice-plants {
      width: 49%;
      font-family: 'Work Sans', sans-serif;
      padding-top: 25px;
      padding-bottom: 30px;
      border-radius: 20px;
      background-color: white;
      box-shadow: 1px 1px 8px 0 #ebecf0;
      margin-right: 20px;
      padding-right: 10px;
  }

  .infoRow {
      width: 100%;
      display: flex;
      flex-direction: row;
  }
  
  .choice-boxes h3, .choice-plants h3 {
      padding-left: 30px;
      font-family: 'Work Sans', sans-serif;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 800;
      height: 32px;
      color: #426a5a;
  }
  
  .choice-boxes:hover, .choice-plants:hover {
      transform: translateY(-6px);
      transition: all 0.5s;
  }
  
  /* choix nbre de plantes */
  .choice-plants .inputUPots {
    border: none;
    background: transparent;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    width: 50px;
    padding-bottom: 7px; 
    color: #426a5a; 
  }
  
  .choice-plants .plantsRow {
      display:flex; flex-direction: row;align-items: center;
  }
  
  .choice-plants label {
      font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
      margin-right: 10px;
    color: #426a5a; 
  }
  
  .choice-plants .inputQty {
      border: 1px solid #E5E6E5;
      border-radius: 5px;
      font-family: 'Work Sans', sans-serif;
      font-size: 15px;
      height: 28px;
      width: 80px;
      color: #426a5a; 
  }
  
  .choice-plants h5 {
      font-family: 'Work Sans', sans-serif;
      font-weight: 800;
      color: #426a5a;
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  
  .choice-plants .inputRow {
      display:flex; flex-direction: row; align-items: center; margin-right: 30px;
  }

  .choixPlantes {
    padding-left: 30px;
  }
  
  
  /* style box nombres */ 
  .total-numbers {
    width: 47%;
      padding-left: 40px;
      padding-top: 20px;     
      font-family: 'Work Sans', sans-serif;
      background-color: white;
      border-radius: 20px;
      box-shadow: 1px 1px 5px 0 #ebecf0;
  }
  
  .total-numbers input {
    height: 20px;	
    width: 60px;
    font-size: 18px;
    border: none;
    background: transparent;
    padding-bottom: 3px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: #416a5a;
  }

  .total-numbers input::after {
    content: " \20ac";
  }

  
  .total-numbers label {
      font-family: 'Work Sans', sans-serif;
      font-weight: 800;
      color: #426a5a;
      font-size: 15px;
      margin-right: 5px;
      margin-bottom: 30px;
  }

  .divTotalTypes label {
    position: relative;
    border-bottom: 3px solid #f9dd94;
    padding-bottom: 4px;
    display: inline;
  }

  
  .total-numbers:hover {
      transform: translateY(-6px);
      transition: all 0.5s;
  }

  .divTotalTypes {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #divPriceTotal input {
    width: auto;
  }

  #divPriceTotal label {
    position: relative;
    font-size: 22px;
    z-index: 22;
  }

  #divPriceTotal label::before {
    content: "";
    position: absolute;
    left: 65px;
    bottom: -5px;
    width: 135px;
    height: 12px;
    transform: skew(-12deg) translateX(-50%);
    background: rgb(236, 167, 44, 0.4);
    z-index: 0; 
  }
  /* style du formulaire de contact */ 
  .contact-form {
      padding: 40px;
      background-color: white;
      border-radius: 20px;
      box-shadow: 1px 1px 5px 0 #ebecf0;
      margin-top: 20px;
      width: 98%;
  }

  
  .contact-form:hover {
      transform: translateY(-6px);
      transition: all 0.5s;
  }
  
  .contact-form label {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600; 
    font-family: 'Work Sans'; 
    color: #416a5a; 
    margin-bottom: 2px !important;
  }
  
  
  .contact-form h3 {
      font-family: 'Work Sans', sans-serif;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 800;
      height: 32px;
      color: #426a5a;
      text-transform: uppercase;
  }
  
  
  /* style label des boutons radios offre & Pots */ 
  
  #wrap label.radiolabelOffer, #wrap label.radiolabelPots
      {
          /* cursor: pointer;
          font-family: 'Work Sans',sans-serif;
          font-weight: 600;
          display:inline;
          margin-left: 85px;
          margin-right: 85px;
          border: 1px solid #416a5a;
          padding-top: 12px;
          width: auto;
          background-color: white;
          color: #416a5a;
          padding-bottom: 15px;
          align-items: center;
          border-radius: 20px;
          box-sizing: border-box;    
          font-weight: 600;
          font-size: 14px;
          display: flex;
          justify-content: center;
          line-height: 24px;
          height: 42px;
          position: relative;
          text-align: center;
          text-decoration: none;
          user-select: none;
          -webkit-user-select: none; */

          width: 190px;
          height: 45px;
          text-align: center;
          font-family: 'Work Sans', sans-serif;
          font-size: 13px;
          padding-left: 5px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 5px;
          text-transform: uppercase;
          letter-spacing: 0.1px;
          font-weight: 550;
          color: #416a5a;
          background-color: #fff;
          border: none;
          border-radius: 45px;
          box-shadow: 0px 8px 15px rgba(0, 100, 30, 0.459);
          transition: all 0.3s ease 0s;
          cursor: pointer;
          outline: none;
      }  

      #wrap label.radiolabelOffer:hover, #wrap label.radiolabelPots:hover {
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(65, 106, 90, 0.4);
        color: #fff;
        transform: translateY(-7px);
      }
  
      #wrap .button-56 {
          margin-top: 30px;
          background-color: #eca72c;
          font-family: 'Work Sans', sans-serif;
          font-size: 16px;
          padding-top: 10px;
          padding-left: 30px;
          padding-bottom: 10px;
          padding-right: 30px;
          border-radius: 10px;
          color: white;
          border: none;
          cursor: pointer;
      }
  
   /* style inputs offres et pots */  
    input[type="radio"] {
      visibility: hidden;
  }
  
    #wrap input[type="radio"]:checked+label {
      background-color: #63cf99; 
      color: white;
      }  
  
      input[type="text"] {
        border: 1px solid #E5E6E5;
        border-radius: 8px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        height: 42px;
        outline:none !important;
        padding-left: 10px;
    }	

    #wrap input[type="text"]:focus {
        outline:none !important;
        border-bottom: 2px solid #63cf99;
        color: #63cf99;
    }	


input[type="text"]:active {
    border-radius: 5px;
    outline:none !important;
}

  .divTotalTypes input[type="number"]::after {
    content: " \20ac";
  }
  
  
  #wrap div#totalPrice
  {
      font-weight:bold;
  }
  
  
  /* CSS submit button */
  .button-56:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }
  
  /* -- quantity box -- */
  
  .quantity {
   display: inline-block; }
  
  .quantity .input-text.qty {
   width: 32px;
   height: 41px;
   padding: 0 5px;
   font-size: 14px;
   font-family: 'Work Sans', sans-serif;
   text-align: center;
   background-color: transparent;
   border: 1px solid #efefef;
  }
  
  .quantity.buttons_added {
   text-align: left;
   position: relative;
   white-space: nowrap;
   vertical-align: top; }
  
  .quantity.buttons_added input {
   display: inline-block;
   margin: 0;
   vertical-align: top;
   box-shadow: none;
  }
  
  .quantity.buttons_added .minus,
  .quantity.buttons_added .plus {
   padding: 7px 10px 8px;
   height: 41px;
   background-color: #ffffff;
   border: 1px solid #efefef;
   cursor:pointer;}
  
  .quantity.buttons_added .minus {
   border-right: 0; }
  
  .quantity.buttons_added .plus {
   border-left: 0; }
  
  .quantity.buttons_added .minus:hover,
  .quantity.buttons_added .plus:hover {
   background: #eeeeee; }
  
  .quantity input::-webkit-outer-spin-button,
  .quantity input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   margin: 0; }
   
   .quantity.buttons_added .minus:focus,
  .quantity.buttons_added .plus:focus {
   outline: none; }
}

/* Version iPad  max width 1100px */ 
@media (min-width: 760px) and (max-width: 1022px) {
    #wrap{
        font-family:'Open Sans', sans-serif;
          padding-bottom: 100px;
          padding-top: 40px;
          background-color: #416a5a;
      }

      #theForm {
        display: block;
        margin-right: 3%;
        margin-left: 3%;
    }

    body.swal2-popup {
      font-size: 1.6rem !important;
      font-family: 'Open Sans', sans-serif !important;
    }
  
    body.swal2-html-container {
      font-family: 'Open Sans', sans-serif !important;
    }

    body.swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #416a5a;
      color: #fff;
      font-size: 1em;
  }

      .choice-row {
          display: flex;
          flex-direction: row;
          margin-bottom: 20px;
      }
    
    .buttonsOffer {
        align-items: center;
    }
      
/*       
      #pricingPlantes {
          font-family:'Open Sans', sans-serif;
          justify-content: space-between;
      } 
       */
      
      /* style boxes choix des offres + choix nbre plantes */ 
      .choice-boxes, .choice-plants {
          width: 48%;
          font-family: 'Work Sans', sans-serif;
          padding: 12px;
          margin-right: 15px;
          border-radius: 20px;
          background-color: white;
          box-shadow: 1px 1px 8px 0 #ebecf0;
      }
    
    
      .infoRow {
          display: flex;
          flex-direction: row;
      }
      
      .choice-boxes h3, .choice-plants h3 {
          padding-left: 5px;
          font-family: 'Work Sans', sans-serif;
          margin-bottom: 10px;
          font-size: 12px;
          font-weight: 800;
          height: 32px;
          color: #426a5a;
      }
      
      .choice-boxes:hover, .choice-plants:hover {
          transform: translateY(-6px);
          transition: all 0.5s;
      }
      
      /* choix nbre de plantes */
      .choice-plants .inputUPots {
        border: none;
        background: transparent;
        font-size: 13px;
        font-family: 'Work Sans', sans-serif;
        width: 25px;
        margin-right: 10px; 
        padding-bottom: 7px; 
      }

      .choice-plants h3 {
          padding-left: 5px;
          font-family: 'Work Sans', sans-serif;
          margin-bottom: 40px;
          font-size: 12px;
          font-weight: 800;
          height: 32px;
          color: #426a5a;
      }
      
      .choice-plants .plantsRow {
          display:flex; flex-direction: row;align-items: center;
      }
      
      .choice-plants label {
          font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        font-weight: normal;
          margin-right: 5px;
      }
      
      .choice-plants .inputQty {
          border: 1px solid #E5E6E5;
          border-radius: 5px;
          font-family: 'Work Sans', sans-serif;
          font-size: 12px;
          height: 28px;
          width: 50px;
      }
      
      .choice-plants h5 {
          font-family: 'Work Sans', sans-serif;
          font-weight: 800;
          color: #426a5a;
          font-size: 13px;
          margin-bottom: 5px;
      }
      
      .choice-plants .inputRow {
          display:flex; flex-direction: row; align-items: center; margin-top: 5px;
      }

      .choixPlantes {
        padding-left: 2px;
      }
      
      
      
      /* style box nombres */ 
      .total-numbers {
          width: 48%;
          padding-left : 20px;
          padding-top: 30px;
          padding-right: 65px;
          font-family: 'Work Sans', sans-serif;
          background-color: white;
          border-radius: 20px;
          box-shadow: 1px 1px 5px 0 #ebecf0;    
      }
      
      .total-numbers input {
        height: 20px;	
        width: 30px;
        font-size: 14px;
        border: none;
        background: transparent;
        padding-bottom: 3px;
        font-family: 'Work Sans', sans-serif;
      }

      .total-numbers #totalPlanteQty::after {
        content: " \20ac";
      }

      .total-numbers input::after {
        content: " \20ac";
      }
      
      .total-numbers label {
          font-family: 'Work Sans', sans-serif;
          font-weight: 800;
          color: #426a5a;
          font-size: 13px;
          margin-right: 5px;
          line-height: 12px;
      }
      
      .total-numbers:hover {
          transform: translateY(-6px);
          transition: all 0.5s;
      }

      .divTotalTypes {
        margin-top: 20px;
      }
      
      /* style du formulaire de contact */ 
      .contact-form {
        width: 95%;
          padding : 30px;
          background-color: white;
          border-radius: 20px;
          box-shadow: 1px 1px 5px 0 #ebecf0;
          margin-top: 20px;
      }
      
      .contact-form:hover {
          transform: translateY(-6px);
          transition: all 0.5s;
      }

      .contact-form label {
        font-size: 15px;
        font-weight: normal; 
        font-family: 'Work Sans'; 
        color: #416a5a; 
        margin-bottom: 2px !important;
      }
      
      
      .contact-form h3 {
          font-family: 'Work Sans', sans-serif;
          margin-bottom: 10px;
          font-size: 13px;
          font-weight: 800;
          height: 32px;
          color: #426a5a;
          text-transform: uppercase;
      }
    
      
      /* style label des boutons radios offre & Pots */ 
      
      #wrap label.radiolabelOffer, #wrap label.radiolabelPots
          {
              cursor: pointer;
              font-family: 'Work Sans',sans-serif;
              font-weight: 600;
              display:inline;
              margin-left: 30px;
              margin-right: 30px;
              border: 1px solid #416a5a;
              padding-right: 18px;
              padding-top: 12px;
              padding-left: 18px;
              background-color: white;
              color: #416a5a;
              padding-bottom: 15px;
              align-items: center;
              border-radius: 20px;
              box-sizing: border-box;    
              font-weight: 600;
              font-size: 11px;
              display: flex;
              justify-content: center;
              line-height: 15px;
              height: 42px;
              position: relative;
              text-align: center;
              text-decoration: none;
              user-select: none;
              -webkit-user-select: none;
          }  
      
          #wrap .button-56 {
              width: 50%; 
              margin-top: 40px;
              background-color: #eca72c;
              font-family: 'Work Sans', sans-serif;
              font-size: 16px;
              padding-top: 10px;
              padding-left: 20px;
              padding-bottom: 10px;
              padding-right: 20px;
              border-radius: 10px;
              color: white;
              border: none;
              cursor: pointer;
          }
      
       /* style inputs offres et pots */  
        input[type="radio"] {
          visibility: hidden;
      }
      
        #wrap input[type="radio"]:checked+label {
          background-color: #63cf99; 
          color: white;
          }  
      
      
         input[type="text"] {
                  border: 1px solid #E5E6E5;
                  border-radius: 8px;
                  font-family: 'Open Sans', sans-serif;
                  height: 38px;
                  font-size: 20px;
                  padding-left: 5px;
              }	
          
          #wrap input[type="text"]:focus {
              outline:none !important;
              border-bottom: 2px solid #63cf99;
              color: #63cf99;
          }	
      
      
      #wrap div#totalPrice
      {
          font-weight:bold;
      }
      
      
      /* CSS submit button */
      .button-56:active {
        background-color: #ffdeda;
        outline: 0;
      }
      
      .button-56:hover {
        outline: 0;
      }
      
      /* -- quantity box -- */
      
      .quantity {
       display: inline-block; }
      
      .quantity .input-text.qty {
       width: 25px;
       height: 30px;
       padding: 0 5px;
       font-size: 12px;
       font-family: 'Work Sans', sans-serif;
       text-align: center;
       background-color: transparent;
       border: 1px solid #efefef;
      }
      
      .quantity.buttons_added {
       text-align: left;
       position: relative;
       white-space: nowrap;
       vertical-align: top; }
      
      .quantity.buttons_added input {
       display: inline-block;
       margin: 0;
       vertical-align: top;
       box-shadow: none;
      }
      
      .quantity.buttons_added .minus,
      .quantity.buttons_added .plus {
       padding: 2px 5px 10px;
       height: 30px;
       background-color: #ffffff;
       border: 1px solid #efefef;
       cursor:pointer;}
      
      .quantity.buttons_added .minus {
       border-right: 0; }
      
      .quantity.buttons_added .plus {
       border-left: 0; }
      
      .quantity.buttons_added .minus:hover,
      .quantity.buttons_added .plus:hover {
       background: #eeeeee; }
      
      .quantity input::-webkit-outer-spin-button,
      .quantity input::-webkit-inner-spin-button {
       -webkit-appearance: none;
       -moz-appearance: none;
       margin: 0; }
       
       .quantity.buttons_added .minus:focus,
      .quantity.buttons_added .plus:focus {
       outline: none; }
}
  
/* Version mobile max width 800px */ 
@media all and (max-width: 750px) {
    #wrap{
        font-family:'Open Sans', sans-serif;
          padding-bottom: 100px;
          padding-top: 20px;
          background-color: #416a5a;
          padding-left: 2%;
          padding-right: 2%;
      }

      #theForm {
        display: block;
        margin-right: 2%;
        margin-left: 2%;
    }

      .choice-row {
          display: flex;
          flex-direction: column;
      }
      
      #pricingPlantes {
          font-family:'Open Sans', sans-serif;
          justify-content: space-between;
      }
      
      
      /* style boxes choix des offres + choix nbre plantes */ 
      .choice-boxes, .choice-plants {
          width: 100%;
          font-family: 'Work Sans', sans-serif;
          padding: 5%;
          border-radius: 20px;
          background-color: white;
          box-shadow: 1px 1px 8px 0 #ebecf0;
          justify-content: center;
      }

      .buttonsOffer {
          display:flex;
          flex-direction: column;
      }

      .infoRow {
          display: flex;
          flex-direction: column;
      }
      
      .choice-boxes h3, .choice-plants h3 {
          padding-left: 5px;
          font-family: 'Work Sans', sans-serif;
          font-size: 13px;
          margin-top: 0px !important;
          font-weight: 700;
          color: #426a5a;
          line-height: 18px !important;
          padding-top: 10px; 
          margin-bottom: 5px;
      }
      
      .choice-boxes:hover, .choice-plants:hover {
          transform: translateY(-6px);
          transition: all 0.5s;
      }
      
      /* choix nbre de plantes */
      .choice-plants .inputUPots {
        border: none;
        background: transparent;
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        width: 30px;
        margin-right: 4px;
        padding-bottom: 6%;
        color: #416a5a; 
        font-weight: 600; 
      }

      .choixPlantes {
        padding-left: 1px;
      }
      
      .choice-plants .plantsRow {
          display:flex; flex-direction: row;align-items: center;
      }
      
      .choice-plants label {
          font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        font-weight: normal;
          margin-right: 4px;
        color: #416a5a; 
      }
      
      /* .choice-plants .inputQty {
          border: 1px solid #E5E6E5;
          border-radius: 5px;
          font-family: 'Work Sans', sans-serif;
          font-size: 15px;
          height: 28px;
          width: 4px;
      } */
      
      .choice-plants h5 {
          font-family: 'Work Sans', sans-serif;
          font-weight: 800;
          color: #426a5a;
          font-size: 12px;
          margin-top: 10px;
          margin-bottom: 5px;
      }
      
      .choice-plants .inputRow {
          display:flex; flex-direction: row; align-items: center;
      }
      
      
      /* style box nombres */ 
      .total-numbers {
        width: 100%;
        padding: 20px 20px;
          margin-top: 20px;
          font-family: 'Work Sans', sans-serif;
          background-color: white;
          border-radius: 20px;
          box-shadow: 1px 1px 5px 0 #ebecf0;    
      }
      
      .total-numbers input {
        width: 15%;
        font-size: 13px;
        border: none;
        background: transparent;
        padding-bottom: 3px;
        font-family: 'Work Sans', sans-serif;
        color: #416a5a; 
      }
      
      .total-numbers label {
          font-family: 'Work Sans', sans-serif;
          font-weight: 800;
          color: #426a5a;
          font-size: 12px;
          margin-right: 5px;
          margin-bottom: 15px;
      }
      
      .total-numbers:hover {
          transform: translateY(-6px);
          transition: all 0.5s;
      }

      .divTotalTypes {
        display: block !important; 
        align-items: center; 
        margin-bottom: 20px;
      }
  
      .divTotalTypes label {
        position: relative;
        border-bottom: 3px solid #f9dd94;
        padding-bottom: 4px;
        display: inline;
        font-size: 13px !important; 
      }
  
        #divPriceTotal label {
        position: relative;
        font-size: 16px;
      }

      #divPriceTotal label::before {
        content: "";
        position: absolute;
        left: 45px;
        bottom: -4px;
        width: 90px;
        height: 8px;
        transform: skew(-12deg) translateX(-50%);
        background: rgb(236, 167, 44, 0.4);
        z-index: 0; 
      }
 
      /* style du formulaire de contact */ 
      .contact-form {
        width: 100%;
          padding : 5%;
          background-color: white;
          border-radius: 20px;
          box-shadow: 1px 1px 5px 0 #ebecf0;
          margin-top: 20px;
      }
      
      .contact-form:hover {
          transform: translateY(-6px);
          transition: all 0.5s;
      }

      .contact-form label {
        font-size: 11px;
        font-weight: normal; 
        font-family: 'Work Sans'; 
        color: #416a5a; 
        margin-bottom: 2px !important;
      }
     
      .contact-form h3 {
          font-family: 'Work Sans', sans-serif;
          font-size: 13px;
          font-weight: 700;
          margin : 5px !important;
          color: #426a5a;
          text-transform: uppercase;
      }

      /* style label des boutons radios offre & Pots */ 
      
      #wrap label.radiolabelOffer, #wrap label.radiolabelPots
          {
            width: 70% !important;
            height: 35px;
            text-align: center;
            font-family: 'Work Sans', sans-serif;
            font-size: 12px;
            padding-top: 10px;
            text-transform: uppercase;
            letter-spacing: 0.1px;
            font-weight: 550;
            color: #416a5a;
            background-color: #fff;
            border: none;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 100, 30, 0.459);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
          }  
  
  #wrap label.radiolabelOffer:hover, #wrap label.radiolabelPots:hover {
        background-color: #2EE59D;
        box-shadow: 0px 15px 20px rgba(65, 106, 90, 0.4);
        color: #fff;
        transform: translateY(-7px);
      }

           #wrap .buttonsOffer {
              flex-direction: column !important; 
             align-items: center !important; 
             padding-left: 0px !important; 
          }
  
          #wrap .button-56 {
              margin-top: 10px;
              background-color: #eca72c;
              font-family: 'Work Sans', sans-serif;
              font-weight: 600;
              font-size: 12px;
              padding-top: 10px;
              padding-left: 15px;
              padding-bottom: 10px;
              padding-right: 15px;
              border-radius: 10px;
              color: white;
              border: none;
              cursor: pointer;
              width: 35%;
          }
      
       /* style inputs offres et pots */  
        input[type="radio"] {
          visibility: hidden;
      }
      
        #wrap input[type="radio"]:checked+label {
          background-color: #63cf99; 
          color: white;
          }  
      
      
         input[type="text"] {
                  border: 1px solid #E5E6E5;
                  font-family: 'Open Sans', sans-serif;
                  height: 23px;
                  font-size: 10px;
                  border-radius: 6px;
              }	
          
          #wrap input[type="text"]:focus {
              outline:none !important;
              border-bottom: 2px solid #63cf99;
              color: #63cf99;
          }	
      
      
      #wrap div#totalPrice
      {
          font-weight:bold;
      }
      
      
      /* CSS submit button */
      .button-56:active {
        background-color: #ffdeda;
        outline: 0;
      }
      
      .button-56:hover {
        outline: 0;
      }
      
      /* -- quantity box -- */
      
      .quantity {
       display: inline-block; }
      
      .quantity .input-text.qty {
       width: 25px;
       height: 30px;
       padding: 0 5px;
       font-size: 12px;
       font-family: 'Work Sans', sans-serif;
       text-align: center;
       background-color: transparent;
       border: 1px solid #efefef;
       color: #416a5a; 
      }
      
      .quantity.buttons_added {
       text-align: left;
       position: relative;
       white-space: nowrap;
       vertical-align: top; }
      
      .quantity.buttons_added input {
       display: inline-block;
       margin: 0;
       vertical-align: top;
       box-shadow: none;
      }
      
      .quantity.buttons_added .minus,
      .quantity.buttons_added .plus {
       padding: 0 5px;
       height: 30px;
       background-color: #ffffff;
       border: 1px solid #efefef;
       cursor:pointer;
        color: #416a5a; 
  }
      
      .quantity.buttons_added .minus {
       border-right: 0; }
      
      .quantity.buttons_added .plus {
       border-left: 0; }
      
      .quantity.buttons_added .minus:hover,
      .quantity.buttons_added .plus:hover {
       background: #eeeeee; }
      
      .quantity input::-webkit-outer-spin-button,
      .quantity input::-webkit-inner-spin-button {
       -webkit-appearance: none;
       -moz-appearance: none;
       margin: 0; }
       
       .quantity.buttons_added .minus:focus,
      .quantity.buttons_added .plus:focus {
       outline: none; }

}

